.tableStyle {
    width: 80%;
    border-collapse: collapse;
    margin: 30px auto;
}

.thStyle {
    background-color: blue;
    color: white;
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.tdStyle {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.buttonStyle {
    margin: 0 4px;
    padding: 8px 16px;
    cursor: pointer;
}